version: '3.8'

services:
  gemini-proxy:
    build: .
    ports:
      - "${SERVER_PORT:-8080}:${SERVER_PORT:-8080}"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
       - ./:/app/
