# This template defines a single server block. The official Nginx image
# will process it and include the final config inside the main http block.

proxy_cache_path /var/cache/nginx/openai levels=1:2 keys_zone=openai_cache:10m inactive=60m;

server {
    listen 80;
    server_name localhost;

    # Common proxy settings inherited by all locations
    proxy_set_header Content-Type application/json;
    proxy_set_header Authorization "Bearer ${API_KEY}";
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_connect_timeout 3600s;
    proxy_send_timeout    3600s;
    proxy_read_timeout    3600s;
    proxy_ssl_server_name on;

    # the buffers
    proxy_buffering off;

    # Explicitly set a DNS resolver to resolve hostnames
    resolver 8.8.8.8 8.8.4.4 valid=350s ipv6=off;
    resolver_timeout 5s;

   # Location for caching /models endpoint
    location /v1beta/openai/models {
        default_type application/json;
        alias /etc/nginx/static/models.json;
    }

    # A single location to forward all requests under /v1beta/openai/
    # The $request_uri variable contains the full original URI (e.g., /v1beta/openai/models)
    location /v1beta/openai/ {
        proxy_pass ${UPSTREAM_URL}$request_uri;
    }
}