<div id="logs" class="content-section" style="display: none;">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2><span class="material-icons me-2">terminal</span>System Logs</h2>
        <div class="d-flex gap-2">
            <input type="text" id="log-search-input" class="form-control form-control-sm" placeholder="Filter logs..." style="width: 250px;">
            <button class="btn btn-sm btn-primary d-flex align-items-center" onclick="fetchLogs()">
                <span class="material-icons" style="font-size: 1.2rem;">refresh</span> Refresh
            </button>
        </div>
    </div>
    
    <div class="card shadow-sm">
        <div class="card-header  d-flex justify-content-between align-items-center py-1">
            <span class="small font-monospace">/app/var/log/output.log</span>
            <span class="badge bg-secondary" id="log-count-badge">0 lines</span>
        </div>
        <div class="card-body p-0 ">
            <pre id="log-container" class="m-0 p-3 font-monospace" style="background-color:unset;height: 65vh; overflow-y: auto; font-size: 0.8rem; white-space: pre-wrap;">Loading...</pre>
        </div>
    </div>
</div>